USE [PBS_PROCFIT_ST]
GO
/****** Object:  StoredProcedure [dbo].[USP_ST_CARGA]    Script Date: 28/03/2024 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ST_CARGA_INCREMENTAL] 
AS

EXEC USP_ST_CARGA_CLIENTE
EXEC USP_ST_CARGA_EMPRESAS
EXEC USP_ST_CARGA_PRODUTO
EXEC USP_ST_CARGA_VENDEDOR
EXEC USP_ST_CARGA_VENDAS 1

