USE [PBS_PROCFIT_DW]
GO
/****** Object:  StoredProcedure [dbo].[USP_FULL_D_CLIENTE]    Script Date: 28/03/2024 17:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_FULL_D_CLIENTE]
AS
-- CRIA TABELA CASO NÃO EXISTA
IF OBJECT_ID('D_CLIENTE') IS NULL
BEGIN
CREATE TABLE D_CLIENTE(
  COD_CLIENTE   NUMERIC (15) PRIMARY KEY
, NOME          VARCHAR (160)
, NOME_FANTASIA VARCHAR (80)
, CLASSIFICACAO VARCHAR (160)
, CIDADE		VARCHAR (80)
, ESTADO		VARCHAR (80)
, UF			CHAR (2)
)
END

-- LIMPA TABELA DE DIMENSÃO 
DELETE FROM D_CLIENTE
-- POPULA DIMENSÃO
INSERT INTO D_CLIENTE

SELECT*FROM PBS_PROCFIT_ST.dbo.VW_D_CLIENTES